.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 6px;
  top: 20px;
  right: 20px;
  z-index: 2;
  border-radius: 50%;
  transition: all 0.2s;
  &:hover {
    background-color: var(--grey);
  }
  svg {
    width: 24px;
    height: 24px;
  }
}
