.navbar-default {
  background: var(--background);
  width: 100%;
  height: 45px;
  -webkit-user-select: unset;
     -moz-user-select: unset;
          user-select: unset;
}
.navbar-default .ant-tabs-nav::before {
  display: none !important;
}
.navbar-default .ant-tabs-nav-list {
  display: flex !important;
  flex-direction: unset;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  left: 0;
  top: 0;
  max-width: content-box;
  padding: 10px 0 0 0;
  background: var(--sidebar-active);
  width: 100%;
  white-space: nowrap;
}
.navbar-default .ant-tabs-nav-list .ant-tabs-tab {
  padding: 0 !important;
  margin: 0 !important;
  width: 200px;
  height: 35px;
  background: transparent !important;
  border: 1px solid transparent !important;
  border-bottom: 0 !important;
  border-radius: 10px 10px 0 0 !important;
  transition: none !important;
}
.navbar-default .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0 !important;
  transition: none;
}
.navbar-default .ant-tabs-nav-list .ant-tabs-tab-active {
  background: var(--background) !important;
}
.navbar-default .ant-tabs-nav-list .ant-tabs-tab-active .nav-link {
  color: var(--dark);
  background: var(--background);
}
.navbar-default .ant-tabs-nav-list .ant-tabs-tab-active .nav-link::after {
  right: -100%;
  border-radius: 0 0 0 10px;
  box-shadow: -14px 0.25em 0 -4px var(--background);
  opacity: 1;
  z-index: 1;
}
.navbar-default .ant-tabs-nav-list .ant-tabs-tab-active .nav-link::before {
  left: -100%;
  border-radius: 0 0 10px 0;
  box-shadow: 14px 0.25em 0 -4px var(--background);
  opacity: 1;
  z-index: 1;
}
.navbar-default .ant-tabs-nav-list .nav-link {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  padding-right: 30px;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark);
  text-transform: capitalize;
  transition: none;
}
.navbar-default .ant-tabs-nav-list .nav-link .nav-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar-default .ant-tabs-nav-list .nav-link::after, .navbar-default .ant-tabs-nav-list .nav-link::before {
  content: " ";
  pointer-events: none;
  position: absolute;
  display: block;
  height: 80%;
  width: 100%;
  bottom: -1px;
  z-index: -1;
  opacity: 0;
}
.navbar-default .ant-tabs-nav-list .nav-link:hover {
  padding-left: 30px;
  text-decoration: none;
  background-color: rgba(250, 250, 251, 0.4);
}
.navbar-default .ant-tabs-nav-list .nav-link:hover .reload-button {
  display: inline-block;
}
.navbar-default .ant-tabs-nav-list .nav-link .close-button {
  display: block;
  font-size: 10px;
  color: var(--dark);
  font-weight: 500;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 3px;
  margin: 0;
  border-radius: 50%;
}
.navbar-default .ant-tabs-nav-list .nav-link .close-button:hover {
  background-color: var(--sidebar-active);
}
.navbar-default .ant-tabs-nav-list .nav-link .reload-button {
  display: none;
  font-size: 10px;
  color: var(--dark);
  font-weight: 500;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 3px;
  border-radius: 50%;
}
.navbar-default .ant-tabs-nav-list .nav-link .reload-button:hover {
  background-color: var(--sidebar-active);
}

.ant-tabs-dropdown .nav-link {
  width: 100%;
}
.ant-tabs-dropdown .nav-link .reload-button {
  display: none;
}
.ant-tabs-dropdown .nav-link span {
  padding: 5px;
}

[data-theme=dark] .navbar-default {
  background: var(--dark-background);
}
[data-theme=dark] .navbar-default .ant-tabs-nav-list {
  background: var(--dark-background);
}
[data-theme=dark] .navbar-default .ant-tabs-nav-list .nav-link {
  color: var(--light-text);
}
[data-theme=dark] .navbar-default .ant-tabs-nav-list .nav-link .close-button,
[data-theme=dark] .navbar-default .ant-tabs-nav-list .nav-link .reload-button {
  color: var(--light-text);
}
[data-theme=dark] .navbar-default .ant-tabs-nav-list .nav-link:hover {
  background-color: rgba(27, 37, 49, 0.4);
}
[data-theme=dark] .navbar-default .ant-tabs-nav-list .ant-tabs-tab-active {
  background: var(--dark-blue) !important;
}
[data-theme=dark] .navbar-default .ant-tabs-nav-list .ant-tabs-tab-active .nav-link {
  background: var(--dark-blue);
  color: var(--light-text);
}
[data-theme=dark] .navbar-default .ant-tabs-nav-list .ant-tabs-tab-active .nav-link::after {
  box-shadow: -14px 0.25em 0 -4px var(--dark-blue);
}
[data-theme=dark] .navbar-default .ant-tabs-nav-list .ant-tabs-tab-active .nav-link::before {
  box-shadow: 14px 0.25em 0 -4px var(--dark-blue);
}
[data-theme=dark] .navbar-default .ant-tabs-nav-list .ant-tabs-tab-active .nav-link .close-button,
[data-theme=dark] .navbar-default .ant-tabs-nav-list .ant-tabs-tab-active .nav-link .reload-button {
  color: var(--light-text);
}/*# sourceMappingURL=tabs.css.map */