<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723986947199-vbcl1479e0k1m3ium0cm2jaf78mf7kq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723986947199-vbcl1479e0k1m3ium0cm2jaf78mf7kq9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723986947199-00vvfo9d8v103gd34omsp1utfuf4sful.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBG7EEo-70d_QyRRm-JqXMT-wE2ekvmjOU</string>
	<key>GCM_SENDER_ID</key>
	<string>723986947199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodyman.customer</string>
	<key>PROJECT_ID</key>
	<string>foodyman-703bd</string>
	<key>STORAGE_BUCKET</key>
	<string>foodyman-703bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723986947199:ios:0c19ce603d40cd36f5334a</string>
</dict>
</plist>